.typing {
  .name {
    display: inline-block;
    background-image: linear-gradient(
      to right,
      #232526 0%,
      #414345 51%,
      #232526 100%
    );
    padding: 7px 15px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    transform: translate(5px, 17px);
    opacity: 0;
    animation: namefadeIn 1s ease 0.5s forwards;

    &:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }
  }

  .article {
    font-size: 22px;
    letter-spacing: 0.8px;
    line-height: 2.5;
    animation: fadeIn 1s ease;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;

    .letter_unit {
      transition: all 0.1s;

      &.undone {
        color: #333;
      }

      &.right {
        color: #3ec70b;
        &.blank {
          border-bottom: 2px solid #3ec70b;
        }
      }

      &.wrong {
        color: #f94c66;
        &.blank {
          border-bottom: 2px solid #f94c66;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-2vw);
  }
  100% {
    opacity: 1;
  }
}

@keyframes namefadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
